<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drelephant.elephantadmin.business.basedata.mapper.BdAreaRegionMapper">

	<!-- 开启二级缓存  -->
	<select id="listLevel" resultType="java.lang.Integer">
		select DISTINCT level from bd_area_region 
	</select>
	
	<select id="getAll" resultType="com.drelephant.elephantadmin.business.basedata.entity.BdAreaRegion">
		select * from bd_area_region where provinceCode is not null order by provinceCode, cityCode, countyCode
	</select>
	
	<select id="getProvinceList" resultType="com.drelephant.elephantadmin.business.basedata.entity.BdAreaRegion">
		select DISTINCT provinceCode,provinceName from bd_area_region where provinceCode is not null and provinceCode != '' order by provinceCode
	</select>
	
	<select id="getCityList" resultType="com.drelephant.elephantadmin.business.basedata.entity.BdAreaRegion">
		select DISTINCT cityCode,cityName from bd_area_region where provinceCode = #{provinceCode} and cityCode is not null and cityCode != '' order by cityCode
	</select>
	
	<select id="getCountyList" resultType="com.drelephant.elephantadmin.business.basedata.entity.BdAreaRegion">
		select DISTINCT countyCode,countyName from bd_area_region where cityCode = #{cityCode} and countyCode is not null and countyCode != '' order by countyCode
	</select>
	<select id="getProvinceName" resultType="java.lang.String">		
		select provinceName from bd_area_region where provinceCode=#{provinceCode}
	</select>
	<select id="getCityName" resultType="java.lang.String">		
		select cityName from bd_area_region where cityCode=#{cityCode}
	</select>
		<!-- 根据省编码和市编码得到市名称 -->
	<select id="selectProviceNameFromCode"  resultType="com.drelephant.elephantadmin.business.basedata.entity.BdAreaRegion">
		select * from bd_area_region where provinceCode =#{provinceCode} and cityCode =#{cityCode}  and level='2' 
	</select>
		<!-- 根据省编码得到省名称 -->
	<select id="selectPName"  resultType="com.drelephant.elephantadmin.business.basedata.entity.BdAreaRegion">
		select provinceName from bd_area_region where provinceCode =#{provinceCode} and level='1' 
	</select>
	<update id="updateBdAreaRegion" 
		parameterType="com.drelephant.elephantadmin.business.basedata.entity.BdAreaRegion">
		update bd_area_region
		<set>
			<if test="provinceName != null and provinceName.trim() != ''">
				provinceName = #{provinceName}, 
			</if>
			<if test="provinceCode != null and provinceCode.trim() != ''">
				provinceCode = #{provinceCode}, 
			</if>
			<if test="cityCode != null and cityCode.trim() != ''">
				cityCode = #{cityCode}, 
			</if>
			<if test="cityName != null and cityName.trim() != ''">
				cityName = #{cityName}, 
			</if>	
			<if test="countyName != null and countyName.trim() != ''">
				countyName = #{countyName}, 
			</if>
			<if test="countyCode != null and countyCode.trim() != ''">
				countyCode = #{countyCode}, 
			</if>	
			<if test="status != null and status.trim() != ''">
				status = #{status}, 
			</if>				
			<!-- 修改操作公共字段 S -->
			<if test="updateTime != null and updateTime != ''">
				updateTime = #{updateTime}, 
			</if>
			<if test="updateUserCode != null and updateUserCode != ''">
				updateUserCode = #{updateUserCode}, 
			</if>
			<if test="updateUserName != null and updateUserName != ''">
				updateUserName = #{updateUserName}, 
			</if> 
			<if test="version != null and version != ''">
				version = #{version}
			</if> 
		</set> 
		where id = #{id}
	</update>
</mapper>
