<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drelephant.elephantadmin.business.basedata.mapper.BdAreaRegionMapper">

	<!-- 开启二级缓存 -->
	<select id="listLevel" resultType="java.lang.Integer">
		select DISTINCT level from bd_area_region 
	</select>
	
	<select id="getAll" resultType="com.drelephant.elephantadmin.business.basedata.entity.BdAreaRegion">
		select * from bd_area_region where provinceCode is not null order by provinceCode, cityCode, countyCode
	</select>
	
	<select id="getProvinceList" resultType="com.drelephant.elephantadmin.business.basedata.entity.BdAreaRegion">
		select * from bd_area_region where provinceCode is not null and provinceCode != '' order by provinceCode
	</select>
	
	<select id="getCityList" resultType="com.drelephant.elephantadmin.business.basedata.entity.BdAreaRegion">
		select * from bd_area_region where provinceCode = #{provinceCode} and cityCode is not null and cityCode != '' order by cityCode
	</select>
	
	<select id="getCountyList" resultType="com.drelephant.elephantadmin.business.basedata.entity.BdAreaRegion">
		select * from bd_area_region where cityCode = #{cityCode} and countyCode is not null and countyCode != '' order by countyCode
	</select>
</mapper>
