<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drelephant.elephantadmin.business.basedata.mapper.BdBannerMapper">

	<!-- 开启二级缓存 -->
	<select id="maxOrderNumber" resultType="java.lang.Integer">
		select MAX(orderNumber) from bd_banner
	</select>		
	<select id="getAll" resultType="com.drelephant.elephantadmin.business.basedata.entity.BdBanner">
		select * from bd_banner order by orderNumber
	</select>
	
	<update id="updateOrderNumber">
		update bd_banner set orderNumber = #{orderNumber} where id=#{id}
	</update>
	<insert id="saveBanner" 
		parameterType="com.drelephant.elephantadmin.business.basedata.entity.BdBanner">
		insert into bd_banner (
			<include refid="BD_BANNER_COLUMN" />)
		values(
			#{id},#{bannerType},#{fileId},#{orderNumber},#{fileType},#{remark},
			#{linkAddress},#{picAddress},#{isOpenLink},#{createTime},#{createUserCode}
			,#{updateTime},#{updateUserName},#{version},#{status}
		)
	</insert>
	<sql id="BD_BANNER_COLUMN">
		id,
		bannerType,
		fileId,
		orderNumber,
		fileType,
		remark,
		linkAddress,
		picAddress,
		isOpenLink,
		createTime,
		createUserCode,
		createUserName,
		updateTime,
		updateUserCode,
		updateUserName,
		version,
		status		
	</sql>
</mapper>
