<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drelephant.elephantadmin.business.basedata.mapper.BdOrgMapper">

	<!-- 开启二级缓存 -->
	<!-- 查询公司编码是否已存在 -->
	<select id="selectCompanyCode" parameterType="String" resultType="java.lang.Integer">
		select count(*) from bd_org where code = #{code}  
	</select>
	<select id="selectCompanyName" parameterType="String" resultType="java.lang.Integer">
		select count(*) from bd_org where name = #{name} and orgNature='company' and status  not in( 'del')   
	</select>
	
	<update id="deleteBdOrg" parameterType="java.lang.String">
		update  bd_org SET status='DEL'		
		where id = #{id}
	</update>
	
	<insert id="insertBdOrg" 
		parameterType="com.drelephant.elephantadmin.business.basedata.entity.BdOrg">
		insert into bd_org (
			<include refid="Bd_ORG_COLUMN" />)
		values(#{id},#{name},#{typeName},#{code},#{orgNature},#{orgCategory},#{deptCount},
		#{provinceCode},#{provinceName},#{cityCode},#{cityName},#{hospitalLevel},#{detailedAddress},
		#{createTime},#{createUserCode},#{createUserName},#{updateTime},#{updateUserCode},#{updateUserName},
		#{version},#{status})
	</insert>
	<sql id="Bd_ORG_COLUMN">
		id,
		name,
		code,
		orgNature,
		orgCategory,
		deptCount,
		provinceCode,
		provinceName,
		cityCode,
		cityName,
		hospitalLevel,
		detailedAddress,
		createTime,
		createUserCode,
		createUserName,
		updateTime,
		updateUserCode,
		updateUserName,
		version,
		status		
	</sql>
</mapper>
