<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drelephant.elephantadmin.business.basedata.mapper.BdOrgMapper">

	<!-- 开启二级缓存 -->
	<!-- 查询公司编码是否已存在 -->
	<select id="selectCompanyCode" parameterType="String" resultType="java.lang.Integer">
		select count(*) from bd_org where code = #{code}  
	</select>
	
</mapper>
