<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.drelephant.elephantadmin.business.basedata.mapper.BdServiceActivityMapper">

	<select id="queryServiceActivityInfo"
		resultType="com.drelephant.elephantadmin.business.basedata.entity.BdServiceActivity">
		SELECT /*查询服务配置信息*/
		<include refid="BD_SERVICE_ACTIVITY_COLUMNS" />
		from bd_service_activity
		<where>
			status = 'ACT'
		</where>
	</select>

	<insert id="saveBdServiceActivity"
		parameterType="com.drelephant.elephantadmin.business.basedata.entity.BdServiceActivity">
		INSERT /** 服务活动记录 **/ INTO bd_service_activity(
		<include refid="BD_SERVICE_ACTIVITY_COLUMNS" />
		) VALUES
		(
		#{id},
		#{serviceCategoryName},
		#{serviceCategoryCode},
		#{serviceName},
		#{serviceCode},
		#{startTime,jdbcType=TIMESTAMP},
		#{endTime,jdbcType=TIMESTAMP},
		#{price},
		#{takeEffectCount},
		#{createTime,jdbcType=TIMESTAMP},
		#{createUserCode},
		#{createUserName},
		#{updateTime,jdbcType=TIMESTAMP},
		#{updateUserCode},
		#{updateUserName},
		#{version},
		#{status}
		)
	</insert>
	
	<update id="updateBdServiceActivity" parameterType="com.drelephant.elephantadmin.business.basedata.entity.BdServiceActivity">
		update /** 修改服务活动记录 **/ bd_service_activity 
		<set>
			<if test="price != null and price != ''">
				price = #{price}, 
			</if>
			<if test="startTime != null">
				startTime = #{startTime}, 
			</if>
			<if test="endTime != null">
				endTime = #{endTime}, 
			</if> 
			<!-- 修改操作公共字段 S-->
			<if test="updateTime != null">
				updateTime = #{updateTime}, 
			</if>
			<if test="updateUserCode != null and updateUserCode != ''">
				updateUserCode = #{updateUserCode}, 
			</if>
			<if test="updateUserName != null and updateUserName != ''">
				updateUserName = #{updateUserName}, 
			</if> 
			<if test="version != null and version != ''">
				version = #{version}
			</if> 
			<!-- 修改操作公共字段 E-->
		</set> 
		where id = #{id}
	</update>
	<update id="deleteActivityById" parameterType="java.lang.String">
		update /** 逻辑删除服务活动记录 **/ bd_service_activity 
		<set>
			status = 'DEL'
		</set> 
		where id = #{id}
	</update>
	
	<sql id="BD_SERVICE_ACTIVITY_COLUMNS">
		id,
		serviceCategoryName,
		serviceCategoryCode,
		serviceName,
		serviceCode,
		startTime,
		endTime,
		price,
		takeEffectCount,
		createTime,
		createUserCode,
		createUserName,
		updateTime,
		updateUserCode,
		updateUserName,
		version,
		status
	</sql>
</mapper>
